@font-face {
    font-family: 'Angella White Personal Use Only';
    src: url('AngellaWhitePersonalUseOnly-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

